doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope")
        link(rel="stylesheet", href="./index.css")
        title Ore's Playable Ads
    body.manrope-font.manrope-font-bold-1(style="padding : 100px; background-color : black")
        div(style="padding : 50px")
            a.card(href="/101riddles") 
                p 101Riddles
            a.card(href="/phasetrivia")  
                p PhaseTrivia
            a.card(href="/bidwars")  
                p Bidwars
            a.card(href="/pof")
                p Plenty of Fish test
                